<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- QNN HTP: accesso alla libreria FastRPC del DSP (obbligatorio da Android 12). -->
        <uses-native-library
            android:name="libcdsprpc.so"
            android:required="false" />
    </application>
</manifest>
